.header-top
  .container-wider
    .header-inner.header-inner--top
      button.hamburger.js-hamburger(type="button", aria-label="Открыть меню")
        .hamburger__inner
          span.hamburger__line

      a.logo.logo--header(href='/')
        img(src='static/images/general/logo.png', width="74", alt='Перейти на главную страницу')
        .logo-text TransDetail
      
      nav.header__nav
        ul.menu.menu--primary
          li.menu__item
            a.menu__link(href='') Акции
          li.menu__item
            a.menu__link(href='') О магазине
          li.menu__item
            a.menu__link(href='') Доставка
          li.menu__item
            a.menu__link(href='') Оплата
          li.menu__item
            a.menu__link(href='') Гарантии
          li.menu__item
            a.menu__link(href='') Новости
          li.menu__item
            a.menu__link(href='') Журнал
          li.menu__item
            a.menu__link(href='') Контакты

      .header-info
        .header-info__module
          a.header-info__email(href="info@transdetail.ru") info@transdetail.ru
          button.header-info__btn.js-question(type="button")
            span.link-dotted Задать вопрос
        .header-info__module
          .header-phones
            button.header-phones__btn.js-more-phones(type="button")
              span.link-dotted (495) 250-00-25
              <svg class="ic ic-chevron-down" aria-hidden="true">
                <use xlink:href="#chevron-down"></use>
              </svg>
            .header-phones__pop(hidden)
              ul.header-phones__pop-list
                li.header-phones__pop-item
                  a(href="tel:") (495) 250-00-25
                li.header-phones__pop-item
                  a(href="tel:") (495) 250-00-25
                li.header-phones__pop-item
                  a(href="tel:") (495) 250-00-25
          .header-phones
            button.header-phones__btn.js-more-phones(type="button")
              span.link-dotted (495) 250-00-25
              <svg class="ic ic-chevron-down" aria-hidden="true">
                <use xlink:href="#chevron-down"></use>
              </svg>
            .header-phones__pop(hidden)
              ul.header-phones__pop-list
                li.header-phones__pop-item
                  a(href="tel:") (495) 250-00-25
                li.header-phones__pop-item
                  a(href="tel:") (495) 250-00-25
                li.header-phones__pop-item
                  a(href="tel:") (495) 250-00-25
          p.header-phones__notes Пн-Пт: 9-19 Сб: 10-15

      .header__mobile-btns
        button.header__search-trigger.js-search-trigger(aria-label="Перейти к поиску")
          <svg class="ic ic-search" aria-hidden="true">
            <use xlink:href="#search"></use>
          </svg>

        a.header-cart(href="", aria-label="Перейти в корзину")
          <svg class="ic ic-shopping-cart" aria-hidden="true">
            <use xlink:href="#shopping-cart"></use>
          </svg>
          span.header-cart__counter 2