.header__top
  .container
    .header__content
      nav.header__nav.menu.menu--header
        a.menu-link(href='#') Как купить
        a.menu-link(href='#') Доставка
        a.menu-link(href='#') О магазине
        a.menu-link(href='#') Гарантия
        a.menu-link(href='#') Контакты
      .button-group
        button.button.button--outline Войти
        button.button.button--primary Регистрация