.header-main
  .container-wider
    .header-inner.header-inner--main
      .header-main__left
        button.header-main__catalog-toggler.catalog-toggler.js-catalog-toggler(aria-label="Каталог товаров")
          .catalog-toggler__inner
            span.catalog-toggler__text Полный каталог
            <svg class="catalog-toggler__icon" width="20" height="14" viewBox="0 0 20 14" aria-hidden="true">
              <path fill-rule="evenodd" fill="rgb(27, 36, 51)" d="M5.625,13.031 L5.625,11.312 L19.437,11.312 L19.437,13.031 L5.625,13.031 ZM5.625,6.125 L19.437,6.125 L19.437,7.875 L5.625,7.875 L5.625,6.125 ZM5.625,0.969 L19.437,0.969 L19.437,2.687 L5.625,2.687 L5.625,0.969 ZM0.438,11.312 L3.031,11.312 L3.031,13.031 L0.438,13.031 L0.438,11.312 ZM0.438,6.125 L3.031,6.125 L3.031,7.875 L0.438,7.875 L0.438,6.125 ZM0.438,0.969 L3.031,0.969 L3.031,2.687 L0.438,2.687 L0.438,0.969 Z" />
            </svg>

      .header-main__right
        form.header-main__search.search-form(role='search', action="/", method="get")
          label(for="header-search")
            span.visuallyhidden Поиск по деталям АКПП
          .search-form__input-wrapper
            input.search-form__input#header-search(autocomplete='off', name='search-text', type='text', placeholder='Поиск деталей для вашего АКПП...', area-label="Введите поисковой запрос деталей АКПП")
          button.search-form__btn(type="submit") Найти

        ul.header-controls
          li.header-control.header-control--wish(aria-label="Добавлено в")
            <a class="header-control__icon" href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            span.header-control__text
              | Избранное:
            a.header-control__value(href="") 3
          li.header-control.header-control--cart(aria-label="В корзине")
            <a class="header-control__icon" href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            span.header-control__text
              | 2 товара
            a.header-control__value(href="")
              <span class="header-control__value-num">2</span>
              <span class="header-control__value-full">23560 <span class="currency">₽</span></span>
        
        .header-auth
          <i class="fa fa-user-o" aria-hidden="true"></i>
          a.header-auth__link(href="") Войти
          a.header-auth__link(href="") Регистрация