.mobile-search
  .mobile-search__overlay.js-mobile-search-close
  form.search-form.search-form--mobile#mobile-search-form(role='search', action="/", method="get")
    .search-form__input-wrapper
      input.search-form__input(autocomplete='off', name='s', type='text', placeholder='Поиск деталей для вашего АКПП...', area-label="Введите поисковой запрос деталей АКПП")
    button.mobile-search__close.js-mobile-search-close(type="button", aria-label="Закрыть форму поиска")
      svg.ic.ic-search(aria-hidden='true')
        use(xlink:href='#times')
    button.mobile-search__submit(type="submit", aria-label="Искать")
      svg.ic.ic-search(aria-hidden='true')
        use(xlink:href='#search')
    .search-suggest
      ul.suggest-list
        li
          p.search-suggest__heading Найденые трансмиссии: 3
          ul.search-suggest__group
            li.search-suggest__item
              a.search-suggest__item-text(href="") AAAA
            li.search-suggest__item
              a.search-suggest__item-text(href="") BBBB
            li.search-suggest__item
              a.search-suggest__item-text(href="") CCCC
        li
          p.search-suggest__heading Найденые товары: 3
          ul.search-suggest__group
            li.search-suggest__item
              a.search-suggest__item-text(href="") AAAA
            li.search-suggest__item
              a.search-suggest__item-text(href="") BBBB
            li.search-suggest__item
              a.search-suggest__item-text(href="") CCCC
