.mobile-info
  ul.mobile-info__list
    li.mobile-info__item
      span.mobile-info__item-title Оптовикам:
      a.mobile-info__item-link(href='tel:84957447224')
        | (495) 744-722-4
      a.mobile-info__item-link(href='tel:84957447224')
        | (495) 744-722-4
      a.mobile-info__item-link(href='tel:84957447224')
        | (495) 744-722-4
    li.mobile-info__item
      span.mobile-info__item-title Розница:
      a.mobile-info__item-link(href='tel:4957447225')
        | (495) 744-722-5