.mobile-nav(hidden)
  .mobile-nav__overlay
  .mobile-nav__content
    .side-menu
      .side-menu__head
        button.side-menu__close
      .side-menu__body
        ul.menu-main
          li.menu-main__item.menu-main__item--first.menu-main__item--bordered
            a.menu-main__link(href="#")
              span.menu-main__icon.icon.icon-list
              span.menu-main__link-title
                | Полный каталог
          li.menu-main__item
            a.menu-main__link(href="#")
              span.menu-main__icon.icon.icon-user
              span.menu-main__link-title
                | Войти / Регистрация
          li.menu-main__item
            a.menu-main__link(href="#")
              span.menu-main__icon.icon.icon-heart-dark
              span.menu-main__link-title
                | Желания
              span.menu-main__link-counter
                | 2
          li.menu-main__item
            a.menu-main__link(href="#")
              span.menu-main__icon.icon.icon-bag
              span.menu-main__link-title
                | Корзина
              span.menu-main__link-counter
                | 10

        .menu-nav
          a.menu-nav__link(href='#') Как купить
          a.menu-nav__link(href='#') Доставка
          a.menu-nav__link(href='#') О магазине
          a.menu-nav__link(href='#') Гарантия
          a.menu-nav__link(href='#') Контакты

        ul.menu-info
          li.menu-info__item
            span.menu-info__item-title Оптовикам:
            a.menu-info__item-link(href='tel:84957447224')
              | (495) 744-722-4
            a.menu-info__item-link(href='tel:84957447224')
              | (495) 744-722-4
            a.menu-info__item-link(href='tel:84957447224')
              | (495) 744-722-4
          li.menu-info__item
            span.menu-info__item-title Розница:
            a.menu-info__item-link(href='tel:4957447225')
              | (495) 744-722-5

  
