.mobile-search
  form.search-form.search-form--mobile(action='')
    .search-form__input-wrapper
      input.search-form__input(autocomplete='off', name='search-text', type='text', placeholder='Поиск деталей для вашего АКПП...')