.header__top
  .header__container
    .header__content.header__content--top
      .brand.brand--header
        a.logo(href='/')
          img(src='static/images/general/logo.png', alt='')
          .logo-text
            span.logo-text__top
              | <b>TRANS</b>DETAIL
            span.logo-text__bottom
              | Оптовые поставки деталей для АКПП

      .header-info
        .header-info__item
          span.header-info__item-label Оптовикам:
          .header-info__links
            a.header-info__item-link.header-info__item-link--more.link-dashed.link-dashed--light(href='tel:84957447224')
                | (495) 744-722-4
            .header-info__item-links
              a.header-info__item-link(href='tel:84957447224')
                | (495) 744-722-4
              a.header-info__item-link(href='tel:84957447224')
                | (495) 744-722-4
        .header-info__item
            span.header-info__item-label Розница:
            a.header-info__item-link.link-dashed.link-dashed--light(href='tel:4957447225')
                | (495) 744-722-5

      nav.header__nav.menu.menu--primary
        a.menu-link(href='#') Как купить
        a.menu-link(href='#') Доставка
        a.menu-link(href='#') О магазине
        a.menu-link(href='#') Гарантия
        a.menu-link(href='#') Контакты

