.header-top
  .container-header-top
    .header__content.header__content--top
      .brand.brand--header
        a.logo(href='/')
          img(src='static/images/general/logo.png', alt='')
          .logo-text
            span.logo-text__top
              | <b>TRANS</b>DETAIL
            span.logo-text__bottom
              | Оптовые поставки деталей для АКПП

      .header-info
        .header-info__item
          span.header-info__item-label Оптовикам:
          .header-info__links
            a.header-info__item-link.header-info__item-link--more.link-dashed.link-dashed--light(href='tel:84957447224')
              | (495) 744-722-4
            .header-info__item-links
              a.header-info__item-link(href='tel:84957447224')
                | (495) 744-722-4
              a.header-info__item-link(href='tel:84957447224')
                | (495) 744-722-4
        .header-info__item
            span.header-info__item-label Розница:
            a.header-info__item-link.link-dashed.link-dashed--light(href='tel:4957447225')
              | (495) 744-722-5

      nav.header__nav.menu.menu--primary
        a.menu__link.menu__link--primary(href='#') Как купить
        a.menu__link.menu__link--primary(href='#') Доставка
        a.menu__link.menu__link--primary(href='#') О магазине
        a.menu__link.menu__link--primary(href='#') Гарантия
        a.menu__link.menu__link--primary(href='#') Контакты
      
      button.info-trigger.js-info-trigger
        <svg clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 100 125" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path class="fil0" d="m23.052 9.4702l8.7957-3.9378c2.8925-1.2957 5.5134-0.1937 6.4571 2.941l4.4622 14.845-6.4465 5.1874c-2.1402 1.7705-3.815 3.5197-3.0803 6.6816 2.9032 12.494 11.901 28.079 21.27 36.84 2.3705 2.217 4.7244 1.6418 7.3276 0.67323l7.715-2.9894 10.625 11.288c2.2441 2.3835 1.8874 5.2052-0.6815 7.063l-7.8083 5.6469c-17.953 12.985-68.998-75.5-48.636-84.239z"/></svg>
      
      button.search-trigger.search-trigger--header.js-search-trigger
        <svg enable-background="new 0 0 60 60" version="1.1" viewBox="0 0 60 75" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m48.768 45.232l-8.798-8.798c-0.063-0.063-0.135-0.111-0.204-0.166 5.104-7.106 4.481-17.054-1.907-23.442-3.551-3.551-8.205-5.326-12.859-5.326s-9.308 1.775-12.859 5.326c-7.102 7.102-7.102 18.616 0 25.718 3.551 3.551 8.205 5.326 12.859 5.326 4.026 0 8.048-1.335 11.36-3.992 0.026 0.029 0.046 0.062 0.074 0.09l8.798 8.798c0.488 0.49 1.128 0.734 1.768 0.734s1.28-0.244 1.768-0.732c0.976-0.977 0.976-2.56 0-3.536zm-23.768-6.361c-3.522 0-6.833-1.372-9.324-3.862-5.141-5.141-5.141-13.506 0-18.647 2.49-2.49 5.802-3.862 9.324-3.862s6.833 1.372 9.324 3.862c5.141 5.141 5.141 13.506 0 18.647-2.491 2.49-5.802 3.862-9.324 3.862z"/></svg>

      button.hamburger.js-hamburger
        .hamburger__inner
          span.hamburger__line

