.product-tabs
  .product-tabs__nav.js-tabs-nav
    button.product-tabs__nav-item.product-tabs__nav-item--1.is-active(
      data-tab-name="tab-1"
    )
      | Варианты написания номера
    button.product-tabs__nav-item.product-tabs__nav-item--2(
      data-tab-name="tab-2"
    )
      | Видео
    button.product-tabs__nav-item.product-tabs__nav-item--3(
      data-tab-name="tab-3"
    )
      | Отзывы (5 отзывов)
  
  .product-tabs__content
    .product-tab.tab.tab-1.is-active
      .product-tab__table
        .product-tab__table-head
          .product-tab__table-td Номер
          .product-tab__table-td Фирма
        .product-tab__table-tr
          .product-tab__table-td 144421W
          .product-tab__table-td TRANSTAR
    .product-tab.tab.tab-2
      .product-tab__table
        .product-tab__table-head
          .product-tab__table-td Номер
          .product-tab__table-td Фирма
        .product-tab__table-tr
          .product-tab__table-td 199999W
          .product-tab__table-td TRANSTAR
    .product-tab.tab.tab-3
      .product-tab__table
        .product-tab__table-head
          .product-tab__table-td Номер
          .product-tab__table-td Фирма
        .product-tab__table-tr
          .product-tab__table-td 1555555W
          .product-tab__table-td TRANSTAR