.product-carousel__wrapper
  .product-carousel.js-product-carousel
    include ../../modules/product-cell/product-cell
    include ../../modules/product-cell/product-cell
    include ../../modules/product-cell/product-cell
    include ../../modules/product-cell/product-cell
    include ../../modules/product-cell/product-cell
    include ../../modules/product-cell/product-cell

  .product-carousel__nav
    button.product-carousel__btn.product-carousel__btn--prev
    button.product-carousel__btn.product-carousel__btn--next