.orders-table__wrapper
  .g-table-responsive
    table.g-table.orders-table
      thead
        tr
          th(scope="col") Номер заказа
          th(scope="col") Цена
          th(scope="col") Кол-во
          th(scope="col") Сумма
          th(scope="col") Статус заказа

      tbody
        tr
          td
            a(href="") <b>#1234567</b>
          td 1000₽
          td 2 шт.
          td 1000₽
          td.is-paid Оплачено
        tr
          td
            a(href="") <b>#1234567</b>
          td 1000₽
          td 2 шт.
          td 1000₽
          td.is-paid Оплачено
        tr
          td
            a(href="") <b>#1234567</b>
          td 1000₽
          td 2 шт.
          td 1000₽
          td Ожидает оплаты

+pagination('catalog')
  +pagination-item('1', '/1')
  +pagination-item('...')
  +pagination-item('4', '/4')
  +pagination-item('5', '/5', true)
  +pagination-item('6', '/6')
  +pagination-item('...')
  +pagination-item('999', '/999')
