// Colors
$greyD: #0f121a;
$greyM: #5b5e65;
$greyL: #868991;
$abbey: #515256;
$grey: #898989;
$gallery: #ededed;
$shuttle-gray: #696b70;
$mercury: #e5e5e5;
$wild-sand: #f5f5f5;
$alto: #dadada;
$silver: #c2c2c2;
$orange: #ea6020;
$orange-dark: #ff3c09;
$red: #ff0000;
$blue: #378ff2;
$malibu: #70d9f5;
$cerulean: #00b7f4;
$jade: #00ad5d;
$blue-dark: #1d3045;

$highlight: $orange-dark !default;
$bg-highlight: $orange-dark !default;

// Fonts
$mainFont: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-third: 'Open Sans', sans-serif;
$font-fourth: 'Rubik', sans-serif;
$font-fifth: 'ALS Rubl', sans-serif;