.hero
  .container-wider
    .hero-carousel.owl-carousel.js-hero-carousel
      .hero-carousel__cell
        .hero-slide.is-active
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
              |
              | Module ACDelco GM Original Equipment
            .hero-slide__img
              img(src="static/images/content/hero/img-1.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        
        .hero-slide
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
            .hero-slide__img
              img(src="static/images/content/hero/img-2.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        
        .hero-slide
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
              |
              | Module ACDelco GM Original Equipment
            .hero-slide__img
              img(src="static/images/content/hero/img-3.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        
        .hero-slide
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
              |
              | Module ACDelco GM Original Equipment
            .hero-slide__img
              img(src="static/images/content/hero/img-4.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        
      .hero-carousel__cell
        .hero-slide.is-active
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
              |
              | Module ACDelco GM Original Equipment
            .hero-slide__img
              img(src="static/images/content/hero/img-1.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        
        .hero-slide
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
            .hero-slide__img
              img(src="static/images/content/hero/img-2.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        
        .hero-slide
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
              |
              | Module ACDelco GM Original Equipment
            .hero-slide__img
              img(src="static/images/content/hero/img-3.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        
        .hero-slide
          .hero-slide__inner
            p.hero-slide__heading
              | Блок управления АКПП Transmission Control
              |
              | Module ACDelco GM Original Equipment
            .hero-slide__img
              img(src="static/images/content/hero/img-4.png", alt="")
            a.button.button--icon.hero-slide__link(href="")
              span.button__text В карточку товара
              <svg class="button__icon" xmlns="http://www.w3.org/2000/svg" width="22" height="10" viewBox="0 0 22 10">
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M4.000,5.999 L4.000,3.999 L22.000,3.999 L22.000,5.999 L4.000,5.999 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M20.000,-0.001 L22.000,-0.001 L22.000,5.999 L20.000,5.999 L20.000,-0.001 Z" />
                <path fill-rule="evenodd" fill="rgb(31, 31, 47)" d="M0.007,5.010 L6.007,10.011 L6.007,0.008 L0.007,5.010 Z" />
              </svg>
        