extends template/main

block variables
  - var title = 'О магазине'
  - var pageClass = 'about-page'

block content
  ul.breadcrumbs
    li.breadcrumbs__item
      a.breadcrumbs__title(href='#') Главная
    li.breadcrumbs__item.breadcrumbs__item--active
      span.breadcrumbs__title О магазине

  h1.page-title О магазине

  .text-block
    .text-block__grid
      .text-block__main-col
        .text-block__content.text-content
          h2 Позиционирование

          p
            | Наша Компания занимает лидирующее положение на российском рынке с 1998 года.Имея огромный опыт в сфере продаж запасных частей для  автоматических трансмиссий , мы поставляем продукцию, напрямую от производителей , минуя посредников. Это позволяет предложить Вам товары по более выгодной цене.

          p
            | В каталогах нашего интернет-магазина Вы можете найти запасные части и ремонтные комплекты для автоматических трансмиссий только наилучшего качества.Для того чтобы полностью соответствовать ожиданиям клиентов , Мы развиваем активную маркетинговую B2C политику , нацеленную на конечного потребителя. Главная задача – создать максимально комфортные условия продажи и доставки запасных частей . Мы следим за новинками автомобильного рынка , поставляя актуальную продукцию для автоматических трансмиссий европейского , американского и азиатского производства.

          h2 Преимущества Нашей компании:

          p Специальная ценовая политика для наших клиентов.

          p Поставка оборудования под заказ.

          p Поставка запасных частей в кратчайшие сроки.

          p
            | Мы открыты для сотрудничества со всеми партнёрами , занятыми в сфере ремонта автоматических трансмиссий . Сегодня Наша компания позволяет обеспечить поставки запчастей любых объемов.

          h2 Наши правила – стабильность, оперативность, надежность.

      .text-block__aside-col
        .text-block__aside
          .text-block__aside-widget.aside-widget
            h2.aside-widget__title Последние новости
            .aside-widget__content
              ul.newslist
                li.newslist__item
                  a(href="#")
                    .newslist__item-content
                      h3.newslist__item-title Готовимся к новому году, скидки на подходе!
                      span.newslist__item-meta 01.11.2019
                li.newslist__item
                  a(href="#")
                    .newslist__item-content
                      h3.newslist__item-title Готовимся к новому году, скидки на подходе!
                      span.newslist__item-meta 01.11.2019
                li.newslist__item
                  a(href="#")
                    .newslist__item-content
                      h3.newslist__item-title Готовимся к новому году, скидки на подходе!
                      span.newslist__item-meta 01.11.2019






