extends template/main

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  h1.page-title Оформление заказа
  form.cart-form
    .cart-form__message.
      Задача организации, в особенности же синтетическое тестирование требует анализа укрепления моральных ценностей. Для современного мира внедрение современных методик обеспечивает актуальность приоритизации разума над эмоциями.
    include ./pages/cart/cart-form-top
    include ./pages/cart/cart-form-bottom



