extends template/main

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  .cart-content
    h1.page-title Оформление заказа
    form.cart-form
      include ./pages/cart/cart-form-top
      include ./pages/cart/cart-form-bottom



