extends template/main

block variables
  - var title = 'Категории'
  - var pageClass = 'categories-page'

block content
  .breadcrumbs
    .breadcrumbs__item
      a.breadcrumbs__title(href='#') Главная
    span.breadcrumbs__arrow
    .breadcrumbs__item
      a.breadcrumbs__title(href='#') Каталог
    span.breadcrumbs__arrow
    .breadcrumbs__item.breadcrumbs__item--active
      span.breadcrumbs__title Железо

  h2.page-title Категории
  .categories
    .category
      a.category__tile(href='#')
        .category__image
          img(src='static/images/content/categories/image-big-1.jpg', alt='')
        .category__title
          span.category__title-name
            | Фрикционные, стальные, опорные диски
    .category
      a.category__tile(href='#')
        .category__image
          img(src='static/images/content/categories/image-big-2.jpg', alt='')
        .category__title
          span.category__title-name
            | Сальники, уплотнительные кольца, прокладки
    .category
      a.category__tile(href='#')
        .category__image
          img(src='static/images/content/categories/image-big-3.jpg', alt='')
        .category__title
          span.category__title-name
            | Поршни
    .category
      a.category__tile(href='#')
        .category__image
          img(src='static/images/content/categories/image-big-4.jpg', alt='')
        .category__title
          span.category__title-name
              | Фильтра, прокладки поддона
