<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Страницы сайта
  body
    ul(style="line-height: 2;")
      li
        a(href="catalog.html", target="_blank") Каталог
      li
        a(href="card.html", target="_blank") Карточка товара
      li
        a(href="categories.html", target="_blank") Категории
      li
        a(href="schemes.html", target="_blank") Схемы
      li
        a(href="offers.html", target="_blank") Акции
      li
        a(href="signup.html", target="_blank") Регистрация
      li
        a(href="profile.html", target="_blank") Профиль
      li
        a(href="cart.html", target="_blank") Корзина
      li
        a(href="cart-success.html", target="_blank") Успешный заказ
      li
        a(href="about.html", target="_blank") О магазине
      li
        a(href="contact.html", target="_blank") Контакты