ul
  li
    a(href="catalog.html") Catalog
  li
    a(href="card.html") Card
  li
    a(href="categories.html") Categories
  li
    a(href="schemes.html") schemes
  li
    a(href="offers.html") Offers
  li
    a(href="cart.html") Cart
  li
    a(href="contact.html") Contact