extends template/main

block variables
  - var title = 'Акции'
  - var pageClass = 'offers-page'

block content
  section.goods-list__wrapper
    h2.section-title.section-title--value
      | Акции
      span.section-title__value
        | Всего 
        b 256
        | товаров
    ul.goods-list
      include modules/goods-item/goods-item
      include modules/goods-item/goods-item
