extends template/main

block variables
  - var title = 'Акции'
  - var pageClass = 'offers-page'

block content
  ul.breadcrumbs
    li.breadcrumbs__item
      a.breadcrumbs__title(href='#') Главная
    li.breadcrumbs__item
      a.breadcrumbs__title(href='#') Каталог
    li.breadcrumbs__item.breadcrumbs__item--active
      span.breadcrumbs__title Железо

  section.goods-list__wrapper
    h2.section-title.section-title--value
      | Акции
      span.section-title__value
        | Всего 
        b 256
        | товаров
    ul.goods-list
      include modules/goods-item/goods-item
      include modules/goods-item/goods-item
