-
  var acura = [
    {
      name: "4L30E"
    },
    {
      name: "4sp"
    },
    {
      name: "B7YA"
    },
    {
      name: "M7ZA"
    },
    {
      name: "4sp"
    },
    {
      name: "M1WA"
    },
    {
      name: "MP1A "
    },
    {
      name: "MPWA"
    },
    {
      name: "A6VA"
    },
    {
      name: "4sp"
    },
    {
      name: "M5DA"
    },
    {
      name: "M5HA"
    },
    {
      name: "5sp"
    },
    {
      name: "BGFA"
    },
    {
      name: "MGFA"
    },
    {
      name: "5sp"
    },
    {
      name: "MCTA"
    },
    {
      name: "5sp"
    },
    {
      name: "MDKA"
    },
    {
      name: "BDKA"
    },
    {
      name: "MJBA"
    },
    {
      name: "MDRA"
    },
    {
      name: "BVLA"
    },
    {
      name: "PVGA"
    },
    {
      name: "PVLA"
    },
    {
      name: "P34A"
    },
    {
      name: "5sp"
    },
    {
      name: "MGHA"
    },
  ]
-
  var alfa_romeo = [
    {
      name: "4HP18Q"
    },
    {
      name: "4HP20"
    },
    {
      name: "4HP22"
    },
    {
      name: "AW50-40LE"
    },
    {
      name: "(AF14)"
    },
    {
      name: "AW55-50SN"
    },
    {
      name: "TF-80SC - 81SC"
    },
  ]
-
  var am_general = [
    {
      name: "4L60E"
    },
    {
      name: "4L80E"
    },
    {
      name: "4L85E"
    },
    {
      name: "6L80"
    },
    {
      name: "6L90"
    },
  ]
-
  var audi = [
    {
      name: "01J"
    },
    {
      name: "(CVT)"
    },
    {
      name: "01M"
    },
    {
      name: "01N"
    },
    {
      name: "09E"
    },
    {
      name: "09G"
    },
    {
      name: "10 "
    },
    {
      name: "4HP18"
    },
    {
      name: "FL"
    },
    {
      name: "4HP24A"
    },
    {
      name: "5HP19FLA"
    },
    {
      name: "(01V)"
    },
    {
      name: "5HP24A"
    },
    {
      name: "6HP19"
    },
    {
      name: "(09L)"
    },
    {
      name: "6HP21 "
    },
    {
      name: "6HP26A"
    },
    {
      name: "(09Е)"
    },
    {
      name: "6HP28"
    },
    {
      name: "6HP28AF"
    },
    {
      name: "(09Е) "
    },
    {
      name: "6HP32"
    },
    {
      name: "(09Е)"
    },
    {
      name: "87"
    },
    {
      name: "89"
    },
    {
      name: "8HP55"
    },
    {
      name: "97 "
    },
    {
      name: "DQ250"
    },
    {
      name: "(02E)"
    },
    {
      name: "TR-60SN"
    },
    {
      name: "(09D) "
    },
    {
      name: "ZF5HP19"
    },
  ]
-
  var bentley = [
    {
      name: "4L80E"
    },
    {
      name: "5HP30"
    },
    {
      name: "6HP26A"
    },
    {
      name: "(09Е)"
    },
    {
      name: "6HP32"
    },
    {
      name: "(09Е)"
    },
  ]
-
  var bmw = [
    {
      name: "3HP22"
    },
    {
      name: "4HP22"
    },
    {
      name: "4HP24"
    },
    {
      name: "4L30E"
    },
    {
      name: "4L40E"
    },
    {
      name: "5HP18"
    },
    {
      name: "5HP24"
    },
    {
      name: "5HP30"
    },
    {
      name: "5L40E"
    },
    {
      name: "6HP19"
    },
    {
      name: "(09L)"
    },
    {
      name: "6HP21"
    },
    {
      name: "6HP26"
    },
    {
      name: "(09Е)"
    },
    {
      name: "6HP28"
    },
    {
      name: "6HP32"
    },
    {
      name: "(09Е)"
    },
    {
      name: "6L45"
    },
    {
      name: "6L45R"
    },
    {
      name: "8HP45 \ 55 \ 70"
    },
    {
      name: "8HP50 - 8HP75"
    },
    {
      name: "8HP70"
    },
    {
      name: "RE5R01A"
    },
  ]
-
  var buick = [
    {
      name: "3T40"
    },
    {
      name: "4HP16"
    },
    {
      name: "4L60E"
    },
    {
      name: "4T40E"
    },
    {
      name: "4T60E"
    },
    {
      name: "4T65E"
    },
    {
      name: "4T80E"
    },
    {
      name: "5L40E"
    },
    {
      name: "6L50"
    },
    {
      name: "6T30"
    },
    {
      name: "6T40 \45 \50"
    },
    {
      name: "6T70"
    },
    {
      name: "6T75"
    },
    {
      name: "AW60-41SN"
    },
    {
      name: "(AF17)"
    },
    {
      name: "AW81-40LS"
    },
  ]
-
  var cadillac = [
    {
      name: "4L30E"
    },
    {
      name: "4L60E"
    },
    {
      name: "4L80E"
    },
    {
      name: "4T60E"
    },
    {
      name: "4T80E"
    },
    {
      name: "5L40E"
    },
    {
      name: "5L50E"
    },
    {
      name: "6L50"
    },
    {
      name: "6L80"
    },
    {
      name: "6L90"
    },
    {
      name: "6T70"
    },
    {
      name: "AW55-50SN"
    },
    {
      name: "TF-80SC - 81SC"
    },
  ]
-
  var chevrolet = [
    {
      name: "3L30"
    },
    {
      name: "TH180"
    },
    {
      name: "3T40"
    },
    {
      name: "4HP14"
    },
    {
      name: "4HP16"
    },
    {
      name: "4L60E"
    },
    {
      name: "4L65E"
    },
    {
      name: "4L70E"
    },
    {
      name: "4L80E"
    },
    {
      name: "4L85E"
    },
    {
      name: "4T40E"
    },
    {
      name: "4T45E"
    },
    {
      name: "4T60"
    },
    {
      name: "(440-T4)"
    },
    {
      name: "4T60E"
    },
    {
      name: "4T65E"
    },
    {
      name: "6L50"
    },
    {
      name: "6L80"
    },
    {
      name: "6T30"
    },
    {
      name: "6T40 \45 \50"
    },
    {
      name: "6T70"
    },
    {
      name: "6T75"
    },
    {
      name: "AW50-40LE"
    },
    {
      name: "(AF14)"
    },
    {
      name: "AW50-42LE"
    },
    {
      name: "(AF22)"
    },
    {
      name: "AW55-50SN"
    },
    {
      name: "AW60-40LE"
    },
    {
      name: "(AF13)"
    },
  ]