li.goods-item.goods-item--full
  .goods-item__status-line
    .status.status--goods.status--in-stock
      span.icon.icon-check
      span.status__text В наличии
  
  .goods-item__content
    .goods-item__content-top
      a.goods-item__image(href='#')
        img(src='static/images/content/catalog/placeholder.jpg', alt='')
      .goods-item__info
        .goods-item__info-cell.goods-item__info-cell--1
          .goods-item__feature
            span.goods-item__feature-label Наименование
            a.goods-item__feature-value.goods-item__feature-value--name(href='#')
              | Втулка насоса
          .goods-item__feature
            span.goods-item__feature-label.d-inline-block Артикул:
            span.goods-item__feature-value 129034
        .goods-item__info-cell.goods-item__info-cell--2
          .goods-item__feature
            span.goods-item__feature-label Тех. описание
            span.goods-item__feature-value ZF5HP19/ZF4HP20 (Ремонтная)
        .goods-item__info-cell.goods-item__info-cell--3
          .goods-item__feature
            span.goods-item__feature-label Тех. номер:
            span.goods-item__feature-value 129034
        .goods-item__info-cell.goods-item__info-cell--4
          .goods-item__feature
            span.goods-item__feature-label Производитель
            span.goods-item__feature-value AFTERMARKET
        .goods-item__info-cell.goods-item__info-cell--5
          .goods-item__feature
            span.goods-item__feature-label Кол-во
            
            include ../product-quantity/product-quantity
        .goods-item__info-cell.goods-item__info-cell--6
          .goods-item__feature
            span.goods-item__feature-label Цена
            span.goods-item__feature-value Недоступна
    
    .goods-item__content-bottom
      .goods-item__features
        span.goods-item__features-heading Тех. характеристики:
        .goods-item__features-list
          .goods-item__feature
            span.goods-item__feature-label Диаметр внутр.:
            span.goods-item__feature-value 129034
          .goods-item__feature
            span.goods-item__feature-label Диаметр нар.:
            span.goods-item__feature-value 50.9мм.
          .goods-item__feature
            span.goods-item__feature-label Состояние:
            span.goods-item__feature-value Новый
          .goods-item__feature
            span.goods-item__feature-label Толщина:
            span.goods-item__feature-value 2.93мм.
          .goods-item__feature
            span.goods-item__feature-label Высота:
            span.goods-item__feature-value 2.93мм.
      .goods-item__controls
        button.goods-item__control.goods-item__control--to-cart(title='Добавить в корзину')
        button.goods-item__control.goods-item__control--to-wish(title='Добавить в желания')