.product-quantity
  button.product-quantity__btn.product-quantity__btn--minus
    | -
  input.product-quantity__input(
    type='text',
    value='1шт.',
    readonly
  )
  button.product-quantity__btn.product-quantity__btn--plus
    | +