/*------------------------------------*\
  #CONTACT-TABS
\*------------------------------------*/

.contact {

  &-tabs {

    &__nav {
      position: relative;
      display: flex;
      flex-wrap: wrap;

      &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 99999px;
        height: 0;
        border-top: 1px solid $gallery;
      }

      &-item {
        width: 100%;
        max-width: 50%;
        padding: 5px 0.5em 18px 0.5em;
        border: 0;
        border-bottom: 2px solid transparent;
        font-weight: 600;
        font-size: rem(16);
        color: $greyL;
        text-align: center;
        background-color: transparent;
        cursor: pointer;

        @media (min-width: 768px) {
          max-width: 250px;
          font-size: rem(18);
        }

        &:focus {
          outline: 0;
          border-color: $greyL;
        }

        &.is-active {
          color: $orange;
          border-color: $orange;
        }
      }
    }


    &__content {
      padding-top: 50px;
    }
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;

    &__cell {
      width: 100%;

      &:first-child {
        margin-bottom: 32px;
      }

      @media (min-width: 576px) {
        flex: 1 1 50%;
        max-width: 50%;

        &:first-child {
          margin-bottom: 0;
          padding-right: 30px;
        }
      }
    }
  }
}

.contact-form {
  max-width: 458px;

  & > * {
    margin-bottom: 20px;

    @media (min-width: 992px) {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-input__wrapper--textarea textarea {
    min-height: 148px;
  }

  .button {
    width: 250px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.contact-info {
  
  &__title {
    font-weight: bold;
    font-size: rem(18);
    margin-bottom: 24px;
  }

  &__list {

    & > * {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {

    &-heading,
    &-text,
    &-link {
      display: block;
    }

    &-heading {
      font-weight: bold;
    }
  }
}