/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 0 25px rgba(0, 50, 101, 0.1);
  z-index: 9999;

  @media (min-width: 1024px) {
    position: static;
  }
}

.header-top {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #18202e;

  @media (min-width: 1024px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.header-top::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 32%;
  height: 100%;
  transform: skewX(-20deg);
  background-color: #1b2433;
  z-index: 1;
}

.header-inner {
  position: relative;
  z-index: 2;
  display: flex;
}

.header-inner--top {
  align-items: center;

  @media (min-width: 1280px) {
    justify-content: space-between;
  }
}

.header__nav {
  display: none;

  @media (min-width: 1280px) {
    display: block;
  }
}

.header-info {
  display: none;

  @media (min-width: 1024px) {
    position: relative;
    top: 5px;
    display: flex;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9375rem;
    letter-spacing: 0.02em;
    color: #fff;
  }
}

.header-info__module:first-child {
  margin-right: 20px;
  padding-left: 10px;
  border-left: 4px solid #ff3c09;
}

.header-info__module > * {
  line-height: 1.2;
}

.header-info__email,
.header-info__btn,
.header-phones__btn {
  display: block;
}

.header-info__email {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.header-info__btn,
.header-phones__btn {
  padding: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.header-phones__btn .fa {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  font-size: 8px;
  font-weight: normal;
}

.header-phones__notes {
  margin-top: 6px;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: -0.025em;
  color: #858d9a;
  white-space: nowrap;
}

.header__mobile-btns {
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    display: none;
  }
}

.header__search-trigger,
.header-cart {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 0;
  font-size: 22px;
  color: #fff;
  text-align: center;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: #fff;
  }

  &:focus {
    outline: none;
  }
}

.header__search-trigger .fa,
.header-cart .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-cart__counter {
  position: absolute;
  top: 0;
  right: -2px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  font-family: $font-third;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: $highlight;
  text-align: center;
}


/* #HEADER-MAIN
   ========================================================================== */

.header-main {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    background-color: #eaeaea;
  }
}

.header-main__left,
.header-main__right {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: 1280px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header-main__left {

  @media (min-width: 1280px) {
    width: 21%;
  }

  @media (min-width: 1440px) {
    width: 19.5%;
  }
}

.header-main__left::after {
  
  @media (min-width: 1280px) {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    border-right: 5px solid #ff3c09;
    transform: skewX(20deg);
    transform-origin: right bottom;
    background-color: #fff;
    z-index: -1;
  }
}

.header-main__right {
  padding-left: 15px;

  @media (min-width: 1280px) {
    width: 79%;
  }

  @media (min-width: 1440px) {
    width: 80.5%;
    padding-left: 30px;
  }
}

.header-main__catalog-toggler {

  @media (max-width: 1279.98px) {
    height: 44px;
    font-size: 13px;
  }
}

.header-main__search {
  margin-right: 30px;
  max-width: 48.7%;
  min-width: 380px;

  @media (min-width: 1440px) {
    margin-right: 44px;
  }

  .search-form__input {
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 1024px) {
      padding-right: 115px;
    }

    @media (min-width: 1440px) {
      padding-left: 20px;
      padding-right: 190px;
    }
  }

  .search-form__btn {

    @media (max-width: 1023.98px) {
      display: none;
    }
  }
}


.header-controls {
  display: flex;
  align-items: center;
  margin-right: 30px;

  @media (min-width: 1440px) {
    margin-right: 1.98vw;
  }
}

.header-control {
  margin-right: 20px;
  font-family: $font-fourth;
  font-size: rem(15);
  line-height: 1.15;
  color: #1b2433;
  white-space: nowrap;

  @media (min-width: 1440px) {
    margin-right: 3.125vw;
  }

  &:last-child {
    margin-right: 0;
  }
}

.header-control > * + * {
  margin-left: 4px;
}

.header-control__icon {
  position: relative;
  display: inline-block;
  top: -1px;
  color: #ff3c09;

  &:hover {
    color: #ff3c09;
  }

  @media (max-width: 1279.98px) {
    font-size: 30px;
  }
}

.header-control__text {
  display: inline-block;
  vertical-align: baseline;
}

.header-control__value {
  display: inline-block;
  font-weight: 500;
  text-decoration: underline;
  color: #ff3c09;

  &:hover {
    color: #ff3c09;
    text-decoration: none;
  }

  @media (max-width: 1279.98px) {
    position: relative;
    top: -8px;
    vertical-align: super;
  }
}

.header-control__value-num {

  @media (min-width: 1280px) {
    display: none;
  }
}

.header-control__text,
.header-control__value-full {

  @media (max-width: 1279.98px) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

.header-control .currency {
  font-weight: bold;
}

.header-auth {
  margin-left: auto;
  font-family: $font-fourth;
  font-size: rem(15);
  letter-spacing: 0.02em;
  white-space: nowrap;
}

.header-auth .fa {
  margin-right: 4px;
  vertical-align: baseline;
  color: #1b2433;
}

.header-auth__link {
  color: #1b2433;
  text-decoration: underline;

  &:hover {
    color: #1b2433;
    text-decoration: none;
  }
}

.header-auth__link + .header-auth__link::before {
  content: '/';
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
