/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header__container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 1280px) {
    max-width: 1416px;

  }
}

.header__content {
  display: flex;

  &--top {
    height: 100px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 12px;
  }
}


.header__top {
  background-color: #0f121a;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;

  &__item {
    font-size: rem(14);
    color: #fff;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    &-label {
      display: block;
      line-height: 1.15;
    }

    &-link {
      display: block;
      white-space: nowrap;
      line-height: 1.6;

      &--more {
        position: relative;
        margin-right: 12px;

        &::after {
          content: '';
          position: absolute;
          display: block;
          top: 50%;
          right: 0px;
          transform: translate(12px, -3px) rotate(-45deg);
          width: 5px;
          height: 5px;
          border: 1px solid #fff;
          border-top-color: transparent;
          border-right-color: transparent;
        }
      }
    }

    &-links {
      position: absolute;
      top: 100%;
      left: 0;
      height: 0%;
      padding-right: 8px;
      padding-bottom: 8px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      background-color: #0f121a;
      transition:
        opacity 0.25s,
        height 0.25s,
        visibility 0.25s;
    }
  }

  &__links {
    position: relative;

    &:hover .header-info__item-links {
      opacity: 1;
      visibility: visible;
      height: auto;
      z-index: 10;
    }
  }
}

.header-main__left,
.header-main__right {
  position: relative;
  height: 90px;
}

.header-main__left {
  flex: none;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 21px;
  padding-right: 35px;

  @media (min-width: 1400px) {
    padding-right: 45px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-right: 5px solid $orange;
    background-color: #fff;
    transform: skewX(15deg) translateX(50%);
    z-index: 1;
  }
}


.header-main__right {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  max-width: 100%;
  position: relative;
  padding-left: 60px;
  padding-top: 24px;
  padding-bottom: 27px;

  @media (min-width: 1400px) {
    padding-left: 75px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99999px;
    height: 100%;
    background-color: #eaeaea;
    z-index: -1;
  }
}



.header-controls {
  display: flex;
  align-items: center;
  margin-right: 2.6vw;
  margin-bottom: 15px;

  @media (min-width: 1920px) {
    margin-right: 50px;
  }
}

.header-control {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 25px;
  }

  &--comparison,
  &--wish {
    display: none;
  }

  &--wish {
    @media (min-width: 1280px) {
      display: flex;
    }
  }

  &--comparison {

    @media (min-width: 1400px) {
      display: flex;
    }
  }

  .icon {
    height: 24px;
    margin-right: 10px;
  }

  &__text {
    flex: none;

    &:not(:last-child) {
      margin-right: 22px;
    }

    .header-control--cart & {

      &:last-child {
        display: none;

        @media (min-width: 1280px) {
          display: block;
        }
      }
    }
  }

  &__label {
    display: block;
    font-size: rem(12);
  }

  &__value {
    display: block;
    font-size: rem(14);
  }
}


.header-auth {
  display: flex;
  margin-bottom: 15px;

  &__link {
    white-space: nowrap;
  }
}