/* ==========================================================================
   #HERO
   ========================================================================== */

.hero {
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 50, 101, 0.1);

  @media (min-width: 1024px) {
    margin-top: 50px;
  }
}

.hero-carousel {
  position: relative;
}

.hero-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 420px;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    width: 20%;
    transform: skewX(-20deg);
    transform-origin: top right;
  }
}

.hero-slide.is-selected {
  background-color: #fff;

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 1024px) {
    width: 40%;
  }
}

.hero-slide:not(.is-selected) {
  .hero-slide__heading,
  .hero-slide__link {
    transform: translateY(-10px);
    transition: 1s;
    opacity: 0;
    
  }
  .hero-slide__link {
    transform: translateY(10px);
  }

  .hero-slide__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero-slide.is-next {
  background-color: #f3f3f3;
}
.hero-slide.is-next-next {
  background-color: #eaeaea;
}
.hero-slide.is-next-next-next {
  background-color: #d7d7d7;
}

.hero-slide__inner {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  height: 100%;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    transform: skewX(20deg);
    transform-origin: top right;
  }
}

.hero-slide__heading {
  position: relative;
  font-family: $font-fourth;
  font-weight: 500;
  font-size: rem(24);
  line-height: 1.4em;
  font-style: italic;
  transition: 1s;
  margin-bottom: 20px;

  height: 2.8em;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 90%;
  }
}

.hero-slide__heading::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 1.4em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.hero-slide__img {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 185px;
    max-width: 100%;
    vertical-align: middle;
    transition: 1s;

    @media (min-width: 768px) {
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

.hero-slide__link {
  transition: 0.4s;
}

.hero-carousel .flickity-page-dots {
  width: auto;
  bottom: 30px;
  right: 0;
}

.hero-carousel .flickity-page-dots .dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #1b2433;
  opacity: 1;
}

.hero-carousel .flickity-page-dots .dot + .dot {
  margin-top: 6px;
}

.hero-carousel .flickity-page-dots .dot.is-selected {
  background-color: $bg-highlight;
}

/*
.hero-carousel .slick-track {
  display: flex;
  flex-direction: row;
}

.hero-carousel .slick-slide {
  float: none;
  display: flex;
  flex-direction: column;
  // width: 18%;
  height: inherit !important;
  overflow: hidden;
  transform: skewX(-20deg);
  transform-origin: top right;

  &:focus {
    outline: none;
  }

  > div {
    height: 100%;
    transform: skewX(20deg);
    transform-origin: top right;
  }
}

.hero-carousel .slick-current {
  background-color: #fff;
}

.hero-carousel .slick-slide.next {
  background-color: #f3f3f3;
}
.hero-carousel .slick-slide.next-next {
  background-color: #eaeaea;
}
.hero-carousel .slick-slide.next-next-next {
  background-color: #d7d7d7;
}
// .hero-carousel .slick-slide.prev {
//   background-color: #f3f3f3;
// }
// .hero-carousel .slick-slide.prev-prev {
//   background-color: #eaeaea;
// }
// .hero-carousel .slick-slide.prev-prev-prev {
//   background-color: #d7d7d7;
// }

.hero-carousel .slick-slide.slick-active:last-of-type {
  border-right: 25px solid $highlight;
}

.hero-carousel .slick-slide:not(.slick-current) {
  width: 260px;
  
  .hero-slide__heading {
    transform: translateY(-200px);
    opacity: 0;
    
  }
  .hero-slide__link {
    opacity: 0;
    transform: translateY(200px);
  }
}

.hero-carousel {

  .slick-dots {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: 0;
  }

  .slick-dots li + li {
    margin-top: 6px;
  }

  .slick-dots button {
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #1b2433;
    font-size: 0;

    &:focus {
      outline: none;
      opacity: 0.7;
    }
  }

  .slick-dots .slick-active button {
    background-color: $bg-highlight;
  }
}
*/