/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu {

  &--primary {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
  }
}

.menu__link {
  display: block;
  line-height: 1.15;
}

.menu__link--primary {
  margin-right: 14px;
  color: #fff;
  transition: border-color 0.25s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: rgba(255, 255, 255, 0);
  }
}