/*------------------------------------*\
  #MENU
\*------------------------------------*/

.menu {

  &--header {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;

    .menu-link {
      margin-right: 30px;
      padding-top: rem(17);
      padding-bottom: rem(17);
      color: #9b9faa;
      font-size: rem(14);
      line-height: 1.15;
      transition: color 0.25s;

      &:hover {
        color: #fff;
      }
    }
  }
}