/* ==========================================================================
   #MENU
   ========================================================================== */

.menu__link {
  letter-spacing: 0.02em;
  text-decoration: underline;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.menu--primary {
  display: flex;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
}

.menu--primary .menu__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.menu--primary .menu__link {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #fff;

  &:hover {
    color: #fff;
  }
}