/* ==========================================================================
   #MOBILE-NAV
   ========================================================================== */

.mobile-nav {
  display: block;

  @media (min-width: 1280px) {
    display: none;
  }
}

.mobile-nav.is-visible {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}


.mobile-nav__content {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 320px;
  height: 100%;
  background-color: #fff;
  transform: translate3d(-200%,0,0);
  -webkit-overflow-scrolling: touch;
  transition: transform .5s;
}

.mobile-nav.is-visible .mobile-nav__content {
  transform: translate3d(0,0,0);
  transition: all .5s;
  box-shadow: 2px 0 6px rgba(51, 51, 51, .26);
}


.mobile-nav__overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  transform: translateX(-100%);
  transition:
    transform 0s ease-in-out .2s,
    opacity .2s ease-in-out;
  overflow: auto;
}

.mobile-nav.is-visible .mobile-nav__overlay {
  opacity: 1;
  transform: translateX(0);
  transition: opacity .2s ease-in-out;
}


.side-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.side-menu__close {
  display: inline-block;
  margin-left: auto;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.15;
  // color: #fff;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:after {
    content: '\2573';
  }
}


.side-menu__head {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0 1px 12px rgba(51, 51, 51, .15);
}


.side-menu__body {
  padding-bottom: 24px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


.menu-main,
.menu-nav,
.menu-info {
  border-top: 1px solid #dedede;
}


.menu-main__item {

  &--bordered {
    border-bottom: 1px solid #dedede;
  }
}


.menu-main__link {
  display: flex;
  align-items: center;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
}


.menu-main__icon {
  display: inline-block;
  color: $highlight;
  margin-right: 16px;

  svg {
    display: block;
    width: 13px;
    path {
      fill: $highlight;
    }
    
  }
}


.menu-main__link-title {
  font-size: 14px;
  line-height: 1.15;
}


.menu-main__link-counter {
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 22px;
  height: 22px;
  margin-left: auto;
  border-radius: 50%;
  background-color: $bg-highlight;
  font-size: 13px;
  line-height: 22px;
  color: #fff;
  text-align: center;
}


.menu-nav,
.menu-info {
  margin-top: 8px;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}


.menu-nav__link {
  display: block;
  margin-bottom: 1.5em;
  font-size: 14px;
}


.menu-info__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}


.menu-info__item-title {
  display: block;
  margin-bottom: 0.2em;
  font-size: 14px;
}


.menu-info__item-link {
  display: block;
  margin-bottom: 0.3em;
  font-weight: 500;
  font-size: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}
