/*------------------------------------*\
  #ORDERS
\*------------------------------------*/

.orders {

  &-info {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }


    &__title {
      font-weight: bold;
      font-size: rem(16);
      margin-bottom: 20px;

      @media (min-width: 992px) {
        font-size: rem(18);
        margin-bottom: 40px
      }
    }


    &__table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 45px;

      td {
        vertical-align: top;
        padding-right: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

.orders-table__wrapper {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 16px;
    height: 100%;
    background: linear-gradient(90deg,hsla(0,0%,0%,0) 0,hsla(0,0%,0%,0) 0,hsla(0,0%,0%,.15) 75%,hsla(0,0%,0%,.24));

    @media (min-width: 576px) {
      display: none;
    }
  }
}

.orders-table {
  // margin-bottom: 40px;
  
  th, td {

    @media (min-width: 992px) {
      width: 20%;
    }
  }

  tbody td:last-child {
    color: $grey;
  }

  tfoot {
    background-color: rgba(#00ad5d, 0.2);

    td {
      height: 74px;

      &:first-child {
        padding-left: 40px;
        text-align: left;
      }
      &:last-child {
        font-weight: bold;

        span {
          display: inline-block;
          margin-left: 40px;
        }
      }
    }
  }
}

.orders-bottom {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: 992px) {
    margin-top: 40px;
  }

  &__text {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 30px;
    color: $grey;
  }

  .button {
    width: 165px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.is-paid {
  color: $jade !important;
}

.is-processing {
  color: $orange !important;

  &::after {
    content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23bababa' d='M1664 256v448q0 26-19 45t-45 19h-448q-42 0-59-40-17-39 14-69l138-138q-148-137-349-137-104 0-198.5 40.5t-163.5 109.5-109.5 163.5-40.5 198.5 40.5 198.5 109.5 163.5 163.5 109.5 198.5 40.5q119 0 225-52t179-147q7-10 23-12 15 0 25 9l137 138q9 8 9.5 20.5t-7.5 22.5q-109 132-264 204.5t-327 72.5q-156 0-298-61t-245-164-164-245-61-298 61-298 164-245 245-164 298-61q147 0 284.5 55.5t244.5 156.5l130-129q29-31 70-14 39 17 39 59z'/%3E%3C/svg%3E");
    display: inline-block;
    vertical-align: baseline;
    margin-left: 9px;
    width: 14px;
    height: 14px;
  }
}