/*------------------------------------*\
  #PRODUCT
\*------------------------------------*/

.product__wrapper {
  margin-bottom: 75px;
}

.product__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .product__top {
    margin-bottom: 80px;
  }

}

.product-image {
  width: 100%;
}

@media (min-width: 768px) {
  .product-image {
    flex: 1 1 auto;
    max-width: 50%;
  }

}

@media (min-width: 1400px) {
  .product-image {
    max-width: 59.649%;
  }

}

.product-info {
  width: 100%;
}

@media (min-width: 768px) {
  .product-info {
    flex: 1 1 auto;
    max-width: 50%;
  }

}

@media (min-width: 992px) {
  .product-info {
    max-width: 40.351%;
  }

}

@media (min-width: 768px) {
  .product-info__inner {
    padding-top: 16px;
    padding-left: 40px;
  }

}

@media (min-width: 1280px) {
  .product-info__inner {
    padding-top: 30px;
    padding-left: 68px;
  }

}

.product-info__title {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: rem(24);
  line-height: 1.2;
}

@media (min-width: 768px) {
  .product-info__title--top {
    display: none;
  }

}

.product-info__title--aside {
  display: none;
}

@media (min-width: 768px) {
  .product-info__title--aside {
    display: block;
  }

}

.product-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;
}

.product-meta__reviews {
  display: flex;
  align-items: center;
}

.product-meta__reviews-icon {
  position: relative;
  top: -3px;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  color: $blue;
  font-size: 24px;
  transform: rotateY(0.5turn);
}

.product-meta__reviews b {
  font-weight: 600;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: $orange;
  font-size: 20px;
}

.product-rating > * + * {
  margin-left: 10px;
}

.product-features {
  margin-bottom: 40px;
}

.product-features > * {
  margin-bottom: 12px;
}

.product-features:last-child {
  margin-bottom: 0;
}

.product-feature {
  display: table;
  width: 100%;
}

.product-feature > * {
  display: table-cell;
  vertical-align: top;
  line-height: 1.15;
}

.product-feature__name {
  width: 176px;
  color: $shuttle-gray;
}

.product-feature__value {
  font-weight: 600;
}

.product-nums {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.product-nums > * {
  margin-right: 30px;
}

.product-nums > *:last-child {
  margin-right: 0;
}

.product-cost__now {
  display: block;
  font-weight: bold;
  font-size: rem(22);
  white-space: nowrap;
}

.product-cost__last {
  display: inline-block;
  position: relative;
  color: $shuttle-gray;
}

.product-cost__last:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 105%;
  height: 0;
  border-bottom: 1px solid $shuttle-gray;
  transform: rotate(-20deg);
}

@media (min-width: 1280px) {
  .product-about {
    max-width: 360px;
  }

}

.product-about__title {
  margin-bottom: 12px;
  font-weight: 600;
}

.product-about__text {
  line-height: 1.85;
  color: $abbey;
}

.product-about__text p + p {
  margin-top: 12px;
}

