/* ==========================================================================
   #SECTIONS
   ========================================================================== */

.sections {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sections-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-left: 1px solid #dddddd;

  @media (max-width: 575.98px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.sections-item {
  width: 50%;
  border: 1px solid #dddddd;
  border-left: none;
  overflow: hidden;

  @media (min-width: 992px) {
    width: 25%;
  }

  @media (min-width: 1280px) {
    transform: skewX(20deg);
    transform-origin: bottom left;
  }
}

.sections-item--1 { background-color: #fff; }
.sections-item--2 { background-color: #f3f3f3; }
.sections-item--3 { background-color: #eaeaea; }
.sections-item--4 { background-color: #d7d7d7; }

.sections-item__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  padding: 20px 15px 16px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: 479px) {
    background-image: none !important;
  }

  @media (min-width: 576px) {
    padding-top: 25px;
    padding-left: 35px;
  }

  @media (min-width: 992px) {
    height: 200px;
  }

  @media (min-width: 1280px) {
    transform: skewX(-20deg);
    transform-origin: bottom left;
  }
}

.sections-item__heading {
  letter-spacing: -0.01em;
  margin-bottom: auto;
}

.sections-item__heading-small {
  display: block;
  font-weight: 300;
  font-size: 13px;
  color: #666;
}

.sections-item__heading-big {
  display: block;
  font-weight: 500;
  font-size: 20px;
  color: #282828;
}

.sections-item:not(:first-child) {

  .sections-item__heading {
    position: relative;
    

    @media (min-width: 992px) {
      margin-left: -20px;
    }
  }
}

.sections-item__link {

  @media (max-width: 480px) {
    display: none;
  }
}

.sections-list--part {

  .sections-item__inner {
      padding-top: 30px;

    @media (min-width: 992px) {
      padding-top: 50px;
    }
  }
}


