/*------------------------------------*\
  #SUCCESS-BLOCK
\*------------------------------------*/

.success-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 50px 20px;
  border: 1px solid $gallery;
  background-color: #fafafa;

  @media (min-width: 992px) {
    padding: 70px 20px 75px 20px;
  }

  &__content {
    max-width: 100%;

    .icon {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;

      @media (max-width: 992px) {
        transform: scale(0.8);
        margin-bottom: 36px;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: rem(18);
    margin-bottom: 36px;

    @media (min-width: 992px) {
      margin-bottom: 55px;
      font-size: rem(32);
    }
  }
}

.success-info {

  &__title {
    font-size: rem(18);
    margin-bottom: 36px;

    @media (min-width: 992px) {
      font-size: rem(32);
      margin-bottom: 50px;
    }
  }

  &__table {
    width: 100%;
    font-size: rem(14);
    margin-bottom: 36px;

    @media (min-width: 992px) {
      font-size: rem(18);
      margin-bottom: 60px;
    }
    
    tr {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    td {
      vertical-align: top;
      height: 40px;

      @media (min-width: 992px) {
        height: 60px;
      }
    }

    td:first-child {
      width: 180px;
      padding-right: 20px;
    }

    tr:last-child td {
      height: auto;
    }
  }

  &__actions {

    @media (min-width: 576px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .button {
      width: 250px;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 24px;

      @media (min-width: 576px) {
        margin-right: 45px;
        margin-bottom: 0;
      }
    }

    .link-underline {
      color: $greyL;
    }
  }
}