/* ==========================================================================
   #LOGO
   ========================================================================== */

.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.logo--header {
  color: #fff;

  &:hover {
    color: #fff;
  }

  @media (max-width: 1279.98px) {
    margin-right: auto;
  }
}

.logo img {
  flex: none;
  height: auto;
}

.logo--header img {
  width: 44px;

  @media (min-width: 1024px) {
    width: 50px;
  }

  @media (min-width: 1280px) {
    width: 74px;
  }
}

.logo-text {
  display: block;
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;

  
}

.logo--header .logo-text {
  @media (max-width: 374.98px) {
    display: none;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
  }

  @media (min-width: 1280px) {
    font-size: 29px;
    margin-left: 15px;
  }
}

.logo--mobile-nav img {
  width: 44px;
}

