/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  user-select: none;
  border: 0;
  padding: 1em;
  font-family: inherit;
  font-size: rem(14);
  line-height: 1.15;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }


  &--block {
    display: block;
  }


  &--primary {
    color: #ffffff;
    background-color: $orange;
    transition: background-color 0.25s ease-out;

    &:hover,
    &:focus {
      background-color: #E82609;
    }
  }


  &--secondary {
    color: #ffffff;
    background-color: $blue;
    transition: background-color 0.25s ease-out;

    &:hover {
      background-color: mix(#000, $blue, 12%);
    }

    &:focus {
      background-color: mix(#000, $blue, 8%);
    }
  }


  &--outline {
    color: inherit;
    border: 1px solid #2c2f38;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.25s ease-out, background-color 0.25s ease-out;

    &:hover {
      color: #fff;
      background-color: $orange;
    }
  }

  &--outline.button--outline-secondary {
    color: inherit;
    border: 1px solid $blue;
    background-color: rgba(0, 0, 0, 0);
    transition: color 0.25s ease-out, background-color 0.25s ease-out;

    &:hover {
      color: #fff;
      background-color: $blue;
    }
  }
}

.button--icon {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding-left: 16px;
  padding-right: 20px;
  border: 2px solid #1f1f2f;
  border-radius: 3px;
  background-color: transparent;
}


.button__text,
.button__icon {
  display: inline-block;
}

.button__text {
  font-weight: 500;
  font-size: 14px;
  color: #1f1f2f;
  transition: 0.2s ease-out;
}

.button__icon {
  margin-left: 24px;
}

.button--icon:hover {
  background-color: #1f1f2f;

  .button__text {
    color: #fff;
  }

  .button__icon path {
    fill: #fff;
    transition: 0.2s ease-out;
  }
}

.buy-button,
.wish-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  text-align: center;
  cursor: pointer;
  transition: 
    color .25s ease-out,
    border-color .25s ease-out,
    background-color .25s ease-out;

  &:focus,
  &:hover {
    outline: none;
    background-color: #f4faf6;
  }

  &[disabled] {
    color: $greyL;
    border-color: $gallery;
    background-color: $gallery;
    cursor: auto;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.buy-button {
  font-size: 20px;
  color: #fff;
  border-color: $orange;
  background-color: $orange;
}

.buy-button--in-cart {
  color: $orange;
  border-color: $gallery;
  background-color: #fff;
}

.wish-button {
  font-size: 16px;
  color: #000;
  border-color: $gallery;
  background-color: #fff;
}

.wish-button--in-wish {
  color: $orange;
}
