/*------------------------------------*\
  #CATALOG-TOGGLER
\*------------------------------------*/

.catalog-toggler {
  width: 203px;
  padding: 0.55em 0.78em;
  border: 1.5px solid #18202d;
  border-radius: 5px;
  font-weight: 500;
  font-size: rem(18);
  line-height: 1.15;
  color: $greyD;
  background-color: #fff;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-right: auto;
  }

  &__icon {
    display: block;
    width: 15px;
    height: 11px;
    background: url(../images/icons/list.png) no-repeat 50% 50%;
  }
}