/*------------------------------------*\
  #FORM CONTROLS
\*------------------------------------*/

.form-input__wrapper {
  position: relative;
}

.form-label {
  position: absolute;
  top: 16px;
  left: 20px;
  line-height: 1;
  color: $greyL;

  &--require:after {
    content: '\2a';
    color: $red;
  }
}

.form-input,
.form-textarea,
.form-select {
	display: block;
  width: 100%;
  padding: 15px 15px 15px 20px;
  border: 1px solid #dddddd;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.15;
	color: inherit;
  background: #fff;
  
  &:focus {
    border-color: $malibu;
    outline: 0;
  }
}

.form-control-btn {
  color: inherit;
  border: 1px solid #d1d1d1;
  padding: 8px;
  min-width: 118px;
  background-color: #fff;
}

[type=radio]:checked ~ .form-control-btn {
  color: #fff;
  border-color: $orange;
  background-color: $orange;
}

.form-checkbox__label {
  display: flex;
  flex-wrap: wrap;

  &-content {
    flex: 1 1 0%;
    color: #898989;
  }

  &-title {
    display: block;
    margin-bottom: 10px;
    font-size: rem(18);
    color: $greyD;
  }
}

.form-checkbox__mask {
  flex: none;
  position: relative;
  top: 2px;
  width: 14px;
  height: 14px;
  margin-right: 20px;
  border: 1px solid #dee4ea;
  border-radius: 4px;
  background-color: #e8eef2;
}

.form-checkbox:checked + .form-checkbox__label .form-checkbox__mask,
.form-radio:checked + .form-checkbox__label .form-checkbox__mask {
  border-color: $cerulean;
  background: $cerulean url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='7' viewBox='0 0 8 7'><path d='M7.510,1.939 L3.439,6.010 C3.048,6.401 2.415,6.401 2.025,6.010 L0.489,4.475 C0.099,4.084 0.099,3.451 0.489,3.060 C0.880,2.670 1.513,2.670 1.903,3.060 L2.732,3.888 L6.096,0.524 C6.486,0.134 7.119,0.134 7.510,0.524 C7.901,0.914 7.901,1.548 7.510,1.939 ' fill='rgb(255,255,255)' /></svg>");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 8px 7px;
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 0;
  background: #ededed;
  font-weight: normal;
  color: #2b2b2b;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 0;
  background: $cerulean;
  font-weight: normal;
  color: #ffffff;
}

.ui-selectmenu-button.ui-button {

  .form-select__wrapper & {
    display: block;
    width: 100%;
    border-radius: 0;
    padding: 15px 15px 15px 20px;
    border: 1px solid #dddddd;
    font-family: inherit;
    font-size: rem(14);
    line-height: 1.15;
    color: inherit;
    background: #fff;
  
    &:focus {
      outline: 0;
      // border-color: $malibu;
      background-color: #fff;
    }
  }

  .form-select__wrapper--highlight & {
    border-color: $orange;
  }

  .form-select__wrapper--search & {
    padding-top: 16px;
    padding-bottom: 16px;
    border-color: $gallery;
    border-right: 0;
    border-left: 0;
  }
}

.ui-widget {
  font-family: 'Montserrat', sans-serif;
  font-size: rem(14);
}

.ui-menu .ui-menu-item-wrapper {
  padding-left: 20px;
}

.ui-button .ui-icon {

  .form-select__wrapper & {
    background-image: url(../images/icons/arrow-bottom-sm.png) !important;
    background-position: 50% !important;
    background-size: 8px 4px !important;
  }

  .form-select__wrapper--search & {
    height: 20px !important;
    background-image:
      url(../images/icons/arrow-top-sm.png),
      url(../images/icons/arrow-bottom-sm.png) !important;
    background-position:
      top 0 left 50%,
      bottom 0 left 50% !important;
    background-size: 8px 4px !important;
  }
}

.cart-fields__cell {

  .ui-selectmenu-text {
    color: $greyL;
  }

  .ui-button .ui-icon {
    opacity: 0.6;
  }
}

.form-select__wrapper--require {

  .ui-selectmenu-text:after {
    content: '\2a';
    color: $red;
  }
}