/*------------------------------------*\
  #ICON
\*------------------------------------*/

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &-phone {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/phone-outline-orange.png);
  }

  &-heart {
    width: 32px;
    height: 30px;
    background-image: url(../images/icons/heart-outline-orange.png);
  }

  &-cart {
    width:35px;
    height: 30px;
    background-image: url(../images/icons/cart-outline-orange.png);
  }

  &-cart-white {
    width: 20px;
    height: 20px;
    background-image: url(../images/icons/cart-outline-white.png);
  }

  &-vk {
    width: 15px;
    height: 9px;
    background-image: url(../images/icons/vk.png);
  }

  &-instagram {
    width: 13px;
    height: 13px;
    background-image: url(../images/icons/instagram.png);
  }

  &-facebook {
    width: 7px;
    height: 13px;
    background-image: url(../images/icons/facebook.png);
  }

  &-check {
    width: 9px;
    height: 7px;
    background-image: url(../images/icons/check-white.png);
  }

  &-ruble {
    width: 11px;
    height: 15px;
    background-image: url(../images/icons/ruble.png);
  }

  &-star {
    width: 21px;
    height: 20px;
    background-image: url(../images/icons/star.png);
  }

  &-star-empty {
    width: 21px;
    height: 20px;
    background-image: url(../images/icons/star-empty.png);
  }

  &-review {
    width: 22px;
    height: 20px;
    background-image: url(../images/icons/review.png);
  }

  &-redo {
    width: 12px;
    height: 13px;
    background-image: url(../images/icons/redo.png);
    background-size: 12px 13px;
  }

}