/*------------------------------------*\
  #ICON
\*------------------------------------*/

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &-phone {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/phone-outline-orange.png);
  }

  &-heart {
    width: 32px;
    height: 30px;
    background-image: url(../images/icons/heart-outline-orange.png);
  }

  &-cart {
    width: 35px;
    height: 30px;
    background-image: url(../images/icons/cart-outline-orange.png);
  }

  &-vk {
    width: 15px;
    height: 9px;
    background-image: url(../images/icons/vk.png);
  }

  &-instagram {
    width: 13px;
    height: 13px;
    background-image: url(../images/icons/instagram.png);
  }

  &-facebook {
    width: 7px;
    height: 13px;
    background-image: url(../images/icons/facebook.png);
  }

  &-check {
    width: 9px;
    height: 7px;
    background-image: url(../images/icons/check-white.png);
  }
}