/*------------------------------------*\
  #INFO-TRIGGER
\*------------------------------------*/

.info-trigger {
  border: 0;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  padding: 10px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: 480px) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  svg {
    display: inline-block;
    fill: #fff;
  }
}