/* ==========================================================================
   #PAGINATION
   ========================================================================== */

$border-color: hsl(0, 0%, 60%) !default;

.pagination {

  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__item {
    display: block;
    padding: 0.5rem;
    min-width: 2.5rem;
    border: 1px solid $mercury;
    text-decoration: none;
    text-align: center;
    background-color: $wild-sand;
    transition:
      background-color .25s ease-out,
      color .25s ease-out;

    &+& {
      border-left: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        color: #fff;
        background-color: $bg-highlight;
      }
    }

    &--active {
      color: #fff;
      background-color: $bg-highlight;
    }
  }
}