/*------------------------------------*\
  #PRODUCT-QUANTITY
\*------------------------------------*/

.product-quantity {
  display: inline-flex;
  flex-wrap: nowrap;
}

.product-quantity__btn {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid $gallery;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  &:focus {
    outline: 0;
    color: #fff;
    background-color: $blue;
  }

  @media (min-width: 992px) {
    width: 40px;
    height: 40px;
  }
}

.product-quantity__btn--minus::after {
  content: '-';
}

.product-quantity__btn--plus::after {
  content: '+';
}

.product-quantity__input {
  display: block;
  height: 36px;
  width: 45px;
  border: 0;
  border-top: 1px solid $gallery;
  border-bottom: 1px solid $gallery;
  font-size: 12px;
  text-align: center;
  background-color: #fff;

  &:focus {
    outline: 0;
  }

  @media (min-width: 992px) {
    width: 52px;
    height: 40px;
  }
}
