/* ==========================================================================
   #PRODUCT-ACTIONS
   ========================================================================== */

.product-actions {
  display: flex;
}

.product-actions>* {
  margin-right: 15px;
}

.product-actions>*:last-child {
  margin-right: 0;
}

.product-actions--goods {
  flex: none;
}

.product-actions--product {
  margin-bottom: 36px;
}

.product-actions--product .buy-button {
  width: 220px;

  @media (min-width: 992px) {
    width: 245px;
  }
}
