/*------------------------------------*\
  #PRODUCT-QUANTITY
\*------------------------------------*/

.product-quantity {
  display: inline-flex;
  border: 1px solid #ededed;

  &__btn {
    display: block;
    width: 40px;
    height: 40px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;

    &:hover {
      color: #fff;
      background-color: $blue;
    }
  }

  &__input {
    display: block;
    height: 40px;
    width: 52px;
    border: 0;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    font-size: 12px;
    text-align: center;
    background-color: #fff;
  }
}