/*------------------------------------*\
  #SEARCH-TRIGGER
\*------------------------------------*/

.search-trigger {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  svg {
    display: inline-block;
  }
}

.search-trigger--header {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  padding: 8px;
  text-align: center;

  svg {
    fill: #fff;
  }
}
