/*------------------------------------*\
  #SEARCH-FORM
\*------------------------------------*/

.search-form {
  position: relative;
  width:100%;
  font-family: $font-fourth;
  font-size: rem(14);
}



.search-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: 40px;
  color: #1b2433;
  background-color: #d7d7d7;

  &:focus {
    outline: none;
    background-color: #fff;
  }

  &::placeholder {
    color: #1b2433;
  }
  
}

.search-form__btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 3px;
  padding: 0;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-family: inherit;
  font-size: inherit;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #fff;
  text-transform: uppercase;
  background-color: #ff3c09;
  transform: translate(0, -50%);
  cursor: pointer;

  @media (min-width: 1440px) {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.mobile-search {
  display: none;

  &.is-open {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    padding: 10px 16px;
    background-color: #eaeaea;
    z-index: 100;
  }

  .search-form__input {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.mobile-search__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.mobile-search__close,
.mobile-search__submit {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: $greyD;
  z-index: 1;

  &:focus {
    outline: none;
  }
}

.mobile-search__close {
  left: auto;
  right: 0;
}