/*------------------------------------*\
  #
\*------------------------------------*/

.schemes-page {

  .schemes-list {
    margin-bottom: 60px;
  }

  .goods-list__wrapper {
    margin-bottom: 65px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.schemes-preview {
  max-width: 810px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;
  text-align: center;
}