.footer__bottom
  .container
    .footer__bottom-content
      p.footer__rights © Запчасти для АКПП, 2009-2019
      .socials
        a.social(href='#', rel='noreferrer nofollow')
          span.icon.icon-vk
        a.social(href='#', rel='noreferrer nofollow')
          span.icon.icon-instagram
        a.social(href='#', rel='noreferrer nofollow')
          span.icon.icon-facebook
      a.footer__policy(href='#') Политика конфиденциальности