.success-block
  .success-block__content
    span.icon.icon-success
    h2.success-block__title Ваш заказ успешно оформлен!
    .success-info
      p.success-info__title Оплата заказа #1234567
      table.success-info__table
        tr
          td Номер заказа:
          td #1234567
        tr
          td Сумма заказа:
          td 12 500₽
      .success-info__actions
        button.button.button--primary Распечатать
        a.link-underline(href="#") Вернуться на главную