.breadcrumbs
  .breadcrumbs__item
    a.breadcrumbs__title(href='#') Главная
  span.breadcrumbs__arrow
  .breadcrumbs__item
    a.breadcrumbs__title(href='#') Каталог
  span.breadcrumbs__arrow
  .breadcrumbs__item.breadcrumbs__item--active
    span.breadcrumbs__title Железо
