@font-face {
  font-family: 'ALS Rubl';
  src: url('../fonts/ALSRubl.woff2') format('woff2'),
      url('../fonts/ALSRubl.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

