/*------------------------------------*\
  #BASIC TYPOGRAPHY STYLES
\*------------------------------------*/

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 1440px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 90%;
  }
}


body {
  font-family: $mainFont;
  font-size: rem(14);
  line-height: 1.4;
  color: $greyD;
}
