/*------------------------------------*\
  #BASIC TYPOGRAPHY STYLES
\*------------------------------------*/

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


body {
  font-family: $mainFont;
  font-size: 1rem;
  line-height: 1.4;
  color: $greyD;
}
