.footer-bottom
  .footer-bottom__inner
    p.footer-bottom__copyright
      | 2017 © ООО «Трансдетеил» - запчасти для акпп
    p.footer-bottom__dev
      | Создание сайта: <a href="" rel="noopener" target="_blank">АйтиБрейн</a>