.footer__top
  .container
    .footer__top-content
      .footer__top-left
        .brand.brand--footer
          a.logo(href='/')
            img(
              src='static/images/general/logo.png', alt='',
              width='76',
              height='81')
        .footer__about
          p
            | Наша компания занимает лидирующее положение
            | на российском рынке с 1998 года. Имея огромный опыт в сфере продаж запасных частей для автоматических
            | трансмиссий, Мы поставляем продукцию, напрямую
            | от производителей, минуя посредников. Это позволяет предложить Вам товары по более выгодной цене.
          p
            b
              | Наши правила – стабильность,
              br
              | оперативность, надежность.
      
      .footer__top-right
        .footer-module.footer-module--nav
          h3.footer-module__title О магазине
          .footer-nav
            a.footer-nav__link(href='#') Как купить
            a.footer-nav__link(href='#') Доставка
            a.footer-nav__link(href='#') О нас
            a.footer-nav__link(href='#') Гарантия
            a.footer-nav__link(href='#') Контакты
        
        .footer-module.footer-module--contact
          h3.footer-module__title Наши контакты
          .footer-contact
            p.footer-contact__heading Оптовый отдел:
            .footer-contact__phones
              a.footer-contact__phone(href='tel:+74957967996') +7 (495) 796-799-6
              a.footer-contact__phone(href='tel:+74957447224') +7 (495) 744-722-4
          .footer-contact
            p.footer-contact__heading График работы:
            p
              | Пн-Пт: 09 -19
              br
              | Сб: 10 - 15
          .footer-contact
            p.footer-contact__heading Email:
            a.footer-contact__email(href='mailto:info@transdetail.ru') info@transdetail.ru